table.game-in-monitor {
  margin: 0 auto;
  border-collapse: collapse;

  td {
    vertical-align: top;

    img {
      &[src$="moni-top.gif"] {
        height: 20px;
      }

      &[src$="moni-left.gif"],
      &[src$="moni-right.gif"] {
        height: 200px;
      }

      &[src$="moni-screen.png"] {
        height: 200px;
      }

      &[src$="moni-base.gif"] {
        height: 65px;
      }
    }
  }
}

p.accept-mission {
  text-align: center;
  margin-top: 20px;

  span {
    text-decoration: none;
    color: hsla(211, 100%, 50%, 1);
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 0.2ch;
    word-spacing: 1ch;
  }
}
