@import url("./fonts.css");
@import url("./reset.css");
@import url("./landing.css");
@import url("./content.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:where(html, body) {
  overscroll-behavior-y: none;
}

body {
  min-height: 100svh;
  background-color: hsla(0, 0%, 0%, 1);
  color: hsla(0, 0%, 100%, 1);
}

.mission {
  position: relative;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "C64ProMonoRegular", sans-serif;
}
