@font-face {
  font-family: Sixtyfour;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-variation-settings:
    "BLED" 0,
    "SCAN" -5;

  src: url("/fonts/Sixtyfour.woff2") format("woff2");
}
