@layer reset, content;

@font-face {
  font-family: "C64ProMonoRegular";
  src: url("/fonts/c64-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  img,
  picture,
  svg,
  canvas {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  :where(html, body) {
    overscroll-behavior-y: none;
  }

  :where(input, button) {
    font: inherit;
  }
}

@layer content {
  :root {
    font-synthesis: none;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    min-height: 100svh;
    background-color: hsla(0, 0%, 0%, 1);
    color: hsla(0, 0%, 100%, 1);
    font-family: "C64ProMonoRegular", sans-serif;
  }
}
