@import url("./font.css");
@import url("./reset.css");
@import url("./aborted.css");

:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  font-synthesis: none;
  text-rendering: optimizelegibility;
}

:where(html, body) {
  height: 100%;

  overscroll-behavior-y: none;
}

html {
  background-color: hsl(0deg 0% 0% / 100%);

  overflow: hidden;
}

body {
  background-color: hsl(0deg 0% 0% / 100%);

  font-family: Sixtyfour, "Courier New", Courier, monospace;
  font-optical-sizing: auto;
  line-height: 1;
  color: hsl(0deg 0% 100% / 100%);
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;

  .title {
    width: 26%;
  }

  .accept {
    margin-top: 20px;

    color: hsl(211deg 100% 50%);

    cursor: pointer;

    letter-spacing: 0.2ch;
    word-spacing: 1ch;
  }
}

.app {
  width: 100%;
  height: 100%;

  background-color: hsl(0deg 0% 0% / 100%);
}

.mode {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 0.5rem 1rem;

  background-color: hsl(0deg 0% 0% / 80%);

  font-family: "Courier New", Courier, monospace;
  font-size: 0.875rem;
  color: hsl(0deg 0% 100% / 100%);

  text-align: center;
}

.hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  border: 0;

  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}
