@import url("./font.css");
@import url("./reset.css");
@import url("./aborted.css");

:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizelegibility;
}

:where(html, body) {
  height: 100%;
  overscroll-behavior-y: none;
}

html {
  background-color: hsl(0deg 0% 0% / 100%);
  overflow: hidden;
}

body {
  background-color: hsl(0deg 0% 0% / 100%);
  color: hsl(0deg 0% 100% / 100%);
  font-family: Sixtyfour, "Courier New", Courier, monospace;
  font-optical-sizing: auto;
  line-height: 1;
}

.mode {
  background-color: hsl(0deg 0% 0% / 80%);
  bottom: 0;
  color: hsl(0deg 0% 100% / 100%);
  font-family: "Courier New", Courier, monospace;
  font-size: 0.875rem;
  left: 0;
  padding: 0.5rem 1rem;
  position: fixed;
  right: 0;
  text-align: center;
}
